<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itcast.mybatis.mapper.UserMapper">

	<select id="queryUserById" parameterType="Long" resultType="User">
		SELECT * FROM tb_user WHERE id = #{id}
	</select>
	
	<select id="queryUserByUserNameAndPassword" resultType="User">
		SELECT * FROM tb_user WHERE user_name = #{userName} AND password = #{password}
	</select>

	<insert id="saveUser" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
		INSERT INTO `tb_user` (
				`user_name`,
				`password`,
				`name`,
				`age`,
				`sex`,
				`birthday`,
				`created`,
				`updated`
			)
			VALUES
				(
					#{userName},
					#{password},
					#{name},
					#{age},
					#{sex},
					#{birthday},
					NOW(),
					NOW()
				)
	</insert>
	
	<update id="updateUserById">
		UPDATE `tb_user`
		SET 
		 `user_name` = #{userName},
		 `password` = #{password},
		 `name` = #{name},
		 `age` = #{age},
		 `sex` = #{sex},
		 `birthday` = #{birthday},
		 `created` = NOW(),
		 `updated` = NOW()
		WHERE
			(`id` = #{id});
	</update>
	
	<delete id="delUserById" parameterType="Long">
		DELETE FROM tb_user WHERE id= #{id}
	</delete>
</mapper>
